# ignore data files
*.csv
*.crc
*.pickle
*.npy
*.pt
*.h5
data/power_consumption/*.txt
cnn/*.txt

# Compiled python modules
*.pyc

# Byte-compiled / optimized / DLL files
__pycache__/

# Ipyhton / Jupyter
.ipynb_checkpoints/
