# ignore data files
*.csv
*.crc
*.pickle
*.txt
data/power_consumption/*.txt
*.npy

# Compiled python modules
*.pyc

# Byte-compiled / optimized / DLL files
__pycache__/

# Ipyhton / Jupyter
.ipynb_checkpoints/
